# Virtual environment
venvv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/