--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
numpy>=1.26,<2.0
pandas>=2.0,<3.0
scikit-learn>=1.4,<1.6
spacy>=3.7.2,<3.8.0
presidio-analyzer
presidio-anonymizer
detoxify
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl